<div class="ziliao_info">
            <table width="743px" cellspacing="15" cellpadding="0">
              <tr>
                <td>留言标题：</td>
                <td>$rs['title']</td>
              </tr>
              <tr>
                <td>留言内容：</td>
                <td>$rs['content']</td>
              </tr>
              <tr>
                <td>回复内容：</td>
                <td><!--{if $rs['reply']}-->$rs['reply']<!--{else}-->暂未回复<!--{/if}--></td>
              </tr>
        </table>
</div>