<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><base target="_blank" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reg.css" type="text/css" />
</head>
<BODY>
	<div id="sd_wrap">
		<div id ="sd_header" class="sd_h125">
			<a id="sd_logo" href="www.baidu.com"><img src="images/logo.gif"/></a>
			<span id="sd_h1">高质量评论社区</span><br/>
			<span id="sd_regh1">新用户注册</span>
		</div>
		<div id="sd_center">
			 <p class="sd_center sd_h260 sd_mt40" style="font-size:14px;">
				<span class="sd_block sd_h70 ">验证邮件已经发送到您的邮箱，请您先进行<a href="#" class="sd_blue1" style="padding-left:5px;">邮箱验证</a></span><span class="sd_700">请不要关闭页面，如未收到验证邮件,请查看是否在垃圾邮箱中或点击：<a href="#"><input type="button" name="btn" value="再次发送"/></a></span>
			 </p>
		<div id="sd_footer">
			<dl>
				<dt>关于我们</dt>
				<dd><a href="">我们是谁</a></dd>
				<dd><a href="">我们的产品</a></dd>
				<dd><a href="">媒体报道</a></dd>
				<dd><a href="">联系我们</a></dd>
			</dl>
			<dl>
				<dt>常见问题</dt>
				<dd><a href="">免责声明</a></dd>
				<dd><a href="">隐私声明</a></dd>
				<dd><a href="">用户协议</a></dd>
				<dd><a href="">意见反馈</a></dd>
			</dl>
			<dl>
				<dt>商务合作</dt>
				<dd><a href="">友情链接</a></dd>
				<dd><a href="">品牌认证</a></dd>
				<dd><a href="">参加会员活动</a></dd>
				<dd><a href="">提供优惠券</a></dd>
			</dl>
			<dl style="width:100px;padding-top:30px;">
				<a id="sd_logo" href="www.baidu.com"><img src="images/logo.png"/></a>
			</dl>
			 
		</div>
	</div>
</BODY>
</HTML>
