<!--{template header_reg}-->
		<div id="sd_center">
			<div id="sd_regleft">
			<form action="" method="" id="regform">
				<p>
					<span class="sd_regltxt">登陆邮箱</span><input type="text" name="email" value="" id="email" class="sd_input focus_c" />
					<span id="emailTip" class="onFocus">
						<span class="span_tip">
							<span class="span_tip1">
								请输入有效电子邮箱，用于登录和找回密码//您还没有输入电子邮箱
							</span>
							<span class="span_tip2">
							</span>
						</span>
					</span>
				</p>
				<p>
					<span class="sd_regltxt">昵&nbsp;&nbsp;&nbsp;&nbsp;称</span><input type="text" name="username" value="" id="username" class="sd_input error_c"  maxlength="20" />
					<span id="usernameTip" class="onError">
						<span class="span_tip">
							<span class="span_tip1">
								4-20个字符，一个汉字是2个字符。注册成功后不可修改
							</span>
							<span class="span_tip2">
							</span>
						</span>
					</span>
				</p>
				<p>
					<span class="sd_regltxt">密&nbsp;&nbsp;&nbsp;&nbsp;码</span><input type="password" name="password1" value="" id="password1" class="sd_input"  maxlength="16" />
					<span id="password1Tip" class="onFocus">
						<span class="span_tip">
							<span class="span_tip1">
								密码需由6-16个字符（数字、字母、下划线）组成，区分大小写；不能使用重复、连续的字母、数字或下划线
							</span>
							<span class="span_tip2">
							</span>
						</span>
					</span>
				</p>
				<p>
					<span class="sd_regltxt">确认密码</span><input type="password" name="password2" value="" id="password2" class="sd_input"  maxlength="16" />
					<span id="password2Tip" class="onCorrect">
						<span class="span_tip">
							<span class="span_tip1">
							</span>
							<span class="span_tip2">
							</span>
						</span>
					</span>
				</p>
				<p>
					<span class="sd_regltxt">验&nbsp;证&nbsp;码</span><input type="text" name="verify" value="" id="verify" class="sd_input" />
					<span id="password2Tip" class="onCorrect">
						<span class="span_tip">
							<span class="span_tip1">
							</span>
							<span class="span_tip2">
							</span>
						</span>
					</span>
				</p>
				<p>
					<span class="sd_regltxt">&nbsp;</span><span class="sd_verify"><a href="www.edeng.cn" ><img src="images/logo.gif" height="36" width="130" /></a><a href="" class="sd_blue">看不清？点击换一张！</a></span>
				</p>
				<p>
					<span class="sd_regltxt">&nbsp;</span><label class="sd_regbtn1"><input type="submit" name="register" value="立即注册" id="register" class="sd_regbtn2" /></label>
				</p>
			</form>
			</div>

			<div id="sd_regright">
				<p class="sd_reglogin">
				<strong>已有说道账号</strong>
				<br>
				<a href="" style="color:blue;text-decoration:underline;font-size:14px;">登陆</a>
				</p>
				<p>您也可以通过以下网站账号登陆<br><br>
					<a href="" class="sd_regr1"></a><br>
					<a href="" class="sd_regr2"></a><br>
					<a href="" class="sd_regr3"></a><br>
				</p>
			</div>
		</div>
<!--{template footer}-->
