<!--{template header_reg}-->

	<div id="sd_center">
			 <p class="sd_center sd_h260 sd_mt40" style="font-size:14px;">
				<span class="sd_block sd_h70 ">验证邮件已经发送到您的邮箱，请您先进行<a href="{$email_link}" class="sd_blue1" style="padding-left:5px;">邮箱验证</a></span><span class="sd_700">请不要关闭页面，如未收到验证邮件,请查看是否在垃圾邮箱中或点击：<a href="#"><input type="button" name="btn" onclick="javascript:window.location.href='do.php?ac=reg_check&encode={$encode}'" value="再次发送"/></a></span>
			 </p>
		</div>
<!--{template footer}-->
