<!--{template header_reg}-->

	<div id="sd_center">
		<div id="sd_uinfo">
			<form enctype="multipart/form-data" method="post" action="ajax.php?ac=uploadicon" target="iframetu">
			<dl><dt id="sd_u_icon"><img src="images/none.gif" ></dt><dd>&nbsp;&nbsp;<input type="file" name="icon" id="icon" class="sd_btnf " />&nbsp;&nbsp;<input type="submit" name="uploadicon" value="保存" class="sd_btn"  /><span  id="sd_u_icon_msg"></span><br><br>&nbsp;&nbsp;请选择jpg，gif格式，且文件大小不超过2M。</dd></dl>
			<iframe id="iframetu" name="iframetu" frameborder="0" style="display: none;" src="about:blank" ></iframe>
			<div class="sd_domain">
				<label class="sd_domaint">设置你的个性域名：</label><span class="sd_domainf"><b>http://</b><input type="text" name="domain" value="" /><b>.shuodaoer.com</b></span><br>
				<label class="sd_domaint">关注一些感兴趣的人，你将会获得更多的乐趣！</label>
			</div>
		</div>
		<div id="sd_concern">
			<div class="sd_cont sd_700">热门推荐</div>
			<div class="sd_concern">
				<dl>
					<p><input type="checkbox" name="recommend" value="1" /></p>
					<dt><a href=""><img src="images/say.gif" ></a></dt>
					<dd>
						<span style="font-size:14px;">
							<a href="">说道儿<label class="sd_yellow sd_700">V</label></a>
						</span>
						<span>北京 朝阳</span>
						<span>说道儿官方网</span>
					</dd>
				</dl>
				<dl>
					<p><input type="checkbox" name="recommend" value="1" /></p>
					<dt><a href=""><img src="images/say.gif" ></a></dt>
					<dd>
						<span style="font-size:14px;">
							<a href="">说道儿<label class="sd_yellow sd_700">V</label></a>
						</span>
						<span>北京 朝阳</span>
						<span>说道儿官方网</span>
					</dd>
				</dl>	
				<div class="sd_line"></div>
				<dl>
					<p><input type="checkbox" name="recommend" value="1" /></p>
					<dt><a href=""><img src="images/say.gif" ></a></a></dt>
					<dd>
						<span style="font-size:14px;">
							<a href="">说道儿<label class="sd_yellow sd_700">V</label></a>
						</span>
						<span>北京 朝阳</span>
						<span>说道儿官方网</span>
					</dd>
				</dl>
				<dl>
					<p><input type="checkbox" name="recommend" value="1" /></p>
					<dt><a href=""><img src="images/say.gif" ></a></dt>
					<dd>
						<span style="font-size:14px;">
							<a href="">说道儿<label class="sd_yellow sd_700">V</label></a>
						</span>
						<span>北京 朝阳</span>
						<span>说道儿官方网</span>
					</dd>
				</dl>	
			</div>
			<div class="sd_over">
				<b class="sd_byj1"></b>
				<b class="sd_byj2"></b>
				<b class="sd_byj3"></b>
				<div class="sd_over1">
					<p style="position:absolute;left:20px;top:10px;"><input type="checkbox" name="recommend" value="1" /></p>
					<cite style="position:absolute;right:20px;top:10px;font-size:14px;font-style:normal;"><a href="" style="color:#0099cc;">完成&gt;&gt;</a></cite>
				</div>
				<b class="sd_byj3"></b>
				<b class="sd_byj2"></b>
				<b class="sd_byj1"></b>
			</div>
		</div>
	</div>
<!--{template footer}-->
