<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><base target="_blank" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link rel="stylesheet" href="{$_SC['cssdir']}home.css" type="text/css" />
</head>
<BODY>
	<div id="sd_wrap">
		<div id ="sd_header">
			<a id="sd_logo" href="www.baidu.com"><img src="images/logo2.gif"/></a>
			<span id="sd_h1">高质量评论社区</span><br/>
			<div class="sd_u_head">
				<span>
					<a href="#">首页</a>
					<a href="#"  class="sd_u_h_cur">推荐</a>
					<a href="#">最新</a>
					<a href="#">优惠券</a>
				</span>
				<a href="#" class="sd_h_top_a">&nbsp;</a>
				<cite>
					<b class="sd_hcen1"></b><input type="text" name="keywords" value="搜吧" class="sd_hcen2" /><input type="submit" name="search" value="" class="sd_hcen3" />
				</cite>
			</div>
		</div>
