<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link rel="stylesheet" href="{$_SC['cssdir']}reg.css" type="text/css" />

<script type="text/javascript" src="{$_SC['jsdir']}public.js"></script>
</head>
<body>
	<div id="sd_wrap">
		<div id ="sd_header" class="sd_h125">
			<a id="sd_logo" href="www.baidu.com"><img src="images/logo.gif"/></a>
			<span id="sd_h1">高质量评论社区</span><br/>
			<span id="sd_regh1">新用户注册</span>
		</div>
