<!--{template header_reg}-->
	<div id="sd_center">
			<div id="sd_h_top">
				<div class="sd_h_switch">
					<img src="{$_SC['imgdir']}2.png" name="rollimg">
				</div>
				<div class="sd_login">
					<b class="sd_bdl0"></b>
					<b class="sd_bdl1"></b>
					<b class="sd_bdl2"></b>
					<b class="sd_bdl3"></b>
					<div class="sd_login1">
						<cite class="sd_h_dlcite"><a href="">注册新账号</a></cite>
						<form method="post" action="do.php?ac=login">
							<p class="sd_h_p">
								<input type="text" name="email" value="登录邮箱" class="sd_input1" onclick="sdpost.toggleHint(this);" onblur="sdpost.toggleHint(this);" /><br><br>
								<input type="password" name="password" value="" class="sd_input1"  onclick="sdpost.toggleLabel(this);" onblur="sdpost.toggleLabel(this);"  /><label id="password_t" class="sd_passwd_t" style="display:inline-block;">密码</label><br><br>
								<span style="float:left;padding-left:60px;">
								<input type="checkbox" name="cookietime" value="1" style="float:left;">
								<label style="float:left;#margin-top:3px;">&nbsp;记住我<a href="#" style="color:#1c87d9;display:inline-block;padding-left:50px;">忘记密码？</a></label>
								</span>
								<br><br>
								
								<input type="hidden" name="login" value="login" />
								<input type="hidden" name="referer" value="index.php?ac=home" />
								<input type="submit" name="submit" value="" class="sd_h_sbtn" />
							</p>
						</form>
						<p class="sd_h_p1">
							您也可以通过以下账号直接登录<br>
							<a href="" class="sd_h_pa1"></a>&nbsp;&nbsp;<a href="#" class="sd_h_pa2"></a>&nbsp;&nbsp;<a href="#" class="sd_h_pa3"></a>
						</p>
						<div class="sd_clear"></div>
					</div>
					<b class="sd_bdl3"></b>
					<b class="sd_bdl2"></b>
					<b class="sd_bdl1"></b>
					<b class="sd_bdl0"></b>
				</div>
			</div>
			<div id="sd_h_center">
				<b class="sd_hcen1"></b><input type="text" name="keywords" value="品牌、名称、类型" class="sd_hcen2" /><input type="submit" name="search" value="" class="sd_hcen3" />
				<div class="sd_clear"></div>
			</div>
			<div id="sd_h_bottom">
				<div class="sd_h_tab">
					<a href="#" class="sd_h_tab_a sd_h_tab_cur">全部</a>
					<a href="#" class="sd_h_tab_a">文章</a>
					<a href="#" class="sd_h_tab_a">图片</a>
					<a href="#" class="sd_h_tab_a">简短</a>
				</div>
				<div class="sd_h_con">
					<div id="sd_con1"  class="sd_con1">
						<div class="sd_h_conl"><a href="#"><img src="{$_SC['imgdir']}say.gif" /></a></div>
						<div class="sd_h_conr">
							<div class="sd_h_sj1"><div class="sd_h_sj"></div></div>
							<div class="sd_h_user"><a href="#">高小狼</a></div>
							<dl class="sd_h_dl">
								<dt>
									<img src="{$_SC['imgdir']}tu.gif" />
								</dt>
								<dd><h2><a href=""><牛奶蛋羹></a></h2>本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于 </dd>
							</dl>
							<div class="sd_h_tag">
								<a href="#" style="color:#9999ff;text-decoration:underline;font-weight:700;">未完,请继续阅读</a>
								<p style="height:20px;line-height:20px;width:700px;">
								<span style="float:left;">标签：<a href="#">美食</a> <a href="#">营养</a></span>
								<cite class="sd_h_heart"><a href="#">有用度(1dddd)</a> <a href="#">推荐(10)</a> <a href="#">热度(12)</a> <a href="#">回应(11)</a> <a href="#" title="喜欢" class="sd_h_like">&nbsp;&nbsp;</a></cite>
								</p>
							</div>
						</div>
					</div>
					<div class="sd_clear"></div>
					<div id="sd_con2" class="sd_con1">
						<div class="sd_h_conl"><a href="#"><img src="{$_SC['imgdir']}say.gif" /></a></div>
						<div class="sd_h_conr">
							<div class="sd_h_sj1"><div class="sd_h_sj"></div></div>
							<div class="sd_h_user"><a href="#">高小狼</a></div>
							<dl class="sd_h_dl">
								<dt>
									<img src="{$_SC['imgdir']}tu.gif" />
								</dt>
								<dd><h2><a href=""><牛奶蛋羹></a></h2>本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于 本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于本篇文章来源于 </dd>
							</dl>
							<div class="sd_h_tag">
								<a href="#" style="color:#9999ff;text-decoration:underline;font-weight:700;">未完,请继续阅读</a>
								<p style="height:20px;line-height:20px;width:700px;">
								<span style="float:left;">标签：<a href="#">美食</a> <a href="#">营养</a></span>
								<cite class="sd_h_heart"><a href="#">有用度(1dddd)</a> <a href="#">推荐(10)</a> <a href="#">热度(12)</a> <a href="#">回应(11)</a> <a href="#" title="喜欢" class="sd_h_like">&nbsp;&nbsp;</a></cite>
								</p>
							</div>
						</div>
					</div>
					<div class="sd_clear"></div>
				</div>
			</div>
		</div>
<!--{template footer}-->
